@font-face {
    font-family: Orbitron-Regular;
    src: url("../../assets/fonts/Orbitron-Regular.ttf");
}

@font-face {
    font-family: Orbitron-Bold;
    src: url("../../assets/fonts/Orbitron-Bold.ttf");
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url("../../assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: RobotoCondensed-Light;
    src: url("../../assets/fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url("../../assets/fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: OpenSans-Regular;
    src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: OpenSans-Light;
    src: url("../../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: SairaCondensed-Bold;
    src: url("../../assets/fonts/SairaCondensed-Bold.ttf");
}

