// // COLORS

// //theme-colors:
// $main-dark-color: #292929;
// $main-light-color: #f2efe7;

// //text-colors:
// $txt-dark-color: #292929;
// $txt-light-color: #f2efe7;

// //Breakpoints
$large-desktop: 1920px;
$desktop: 1440px;
$large-tablet: 1130px;
$tablet: 850px;
$small-tablet: 800px;
$large-phone: 650px;
$phone: 500px;
$small-phone: 370px;
