// // COLORS

// //theme-colors:
$main-dark-color: #292929;
$main-light-color: #EAEAEA;

// //text-colors:
$txt-dark-color: black;
$txt-gray-color: #B2B2B2;
$txt-light-color: white;

// //Breakpoints
$large-desktop: 1920px;
$desktop: 1440px;
$large-tablet: 1130px;
$tablet: 850px;
$small-tablet: 800px;
$large-phone: 650px;
$phone: 500px;
$small-phone: 370px;
