.homepage{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 5px 5px 22px 11px rgba(0,0,0,0.32);

    display: flex;

    background-color: #eaeaea78;
    backdrop-filter: blur(10px);
    border-radius: 10px;

    width: 95vw;
    height: 87.5vh;

    overflow-y: auto;

    .MuiOutlinedInput-root{
        background-color: #fff;
    }

    .left-side{
        display: none;
    }


    background-image: url('../../assets/images/graphssvg.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    .right-side{
        backdrop-filter: saturate(0%) blur(5px);
   
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 2rem 1rem;

        h2{
            font-size: 1.75rem;
            margin: 0.5rem 0;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;

            .MuiTextField-root{
                width: 80%;
            }

            .name-fields{
                display: flex;
                gap: 0.5rem;
                justify-content: center;

                .MuiTextField-root{
                    max-width: 36.5%;
                }
            }

            button{
                background-color: $main-dark-color;
                color: $txt-light-color;

                width: 9.25rem;
                height: 3rem;
                margin-top: 1.5rem;
            }

        }
        
        hr{
            width: 90%;
            margin: 20px auto;
            border-color: rgba(0, 0, 0, 0.247)
        }

        .form-state-header, .demo-user-btn{
            position: absolute;
            top: 0;
            padding: 0.6rem;
        }

        .form-state-header{
            right: 0;
        }

        .demo-user-btn{
            left: 0;
        }


        h4{
            font-size: 0.8rem;
            span{
                cursor: pointer;
                color: #357DB1;
            }
        }
        
    }

    @include for-small-phone{
        .right-side{
            h2{
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
        }
    }
    
    @include for-tablet{
        height: 80vh;
        max-height: 50rem;
        
        min-width: 50rem;
        width: 80vw;
        max-width: 70rem;
        
        background-image: unset;
        background-size:unset;
        background-repeat: unset;
        background-position: unset;

        .left-side{
            width: 45%;
            height: 100%;
            background-color: #292929;
            color: $txt-light-color;
            border-radius: 10px 0 0 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 2.5rem 1rem;

            h2{
                font-size: 2.5rem;
            }

            .prase{
                display: flex;
                flex-direction: column;
                gap:0.5rem;

                text-align: center;

                h3{
                    font-size: 1.5rem;
                }
            }

            img{
                width: 85%;
                max-width: 20rem;
            }
        }

        .right-side{
            width: 55%;
            padding: 2.5rem 1rem;
            justify-content: unset;

            form{
                .name-fields{
                    .MuiTextField-root{
                        max-width: 37.5%;
                    }
                }

                button{
                    width: 12rem;
                }
            }

            h4{
                font-size: 1rem;
            }

            .app-logo{
                display: none;
            }

        }

    }

    .MuiTextField-root, .MuiInputBase-root{
        border-radius: 10px;
    }

    .txt-input{
        width: 100%;
    }

}

.dimmer-screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100vw;
    height: 100vh;

    animation: gradient 10s ease infinite;
    background-size: 400% 400% !important;

    transition: 0.5s;
    opacity: 0.3;

    background: linear-gradient(-45deg, #292929, #1d6b83, #337a3d, #853d3d);

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
