.main-content-blocks {
  min-height: fit-content;
  width: calc(99vw - 1rem);
  display: flex;
  margin-top: 0.3rem;
  gap: 1rem;
  overflow-y: auto;

  scroll-snap-type: x mandatory;
  
  @include for-tablet {
    scroll-snap-type: unset;
    overflow-y: unset;
    min-height: 100%;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  @include for-desktop {
    width: 98%;
    margin: 0.4rem;
  }
}

.summery-blocks {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 0.75rem;
  
  min-width: calc(99vw - 1rem);
  overflow: hidden;
  position: relative;
  
  @include for-tablet {
    scroll-snap-align: unset;
    min-width: unset;
    width: 100%;
  }
}

.summery-block,
.graph-block {
  border-radius: 10px;
  background-color: $main-light-color;
  padding: 1.5rem;
}

.summery-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  height: calc(100vh - 15rem);

  @include for-tablet {
    height: calc(100vh - 16.25rem);
  }

  @include for-desktop {
    gap: 2rem;
    height: calc(100vh - 11.75rem);
  }

  .summery-block-title,
  .summery-block-total {
    font-weight: 600;

    @include for-desktop {
      font-size: 2rem;
    }
  }

  .pie {
    flex-grow: 1;
    max-height: 40%;
  }


  .summery-block-details {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.8rem;
    overflow-y: auto;

    @include for-desktop {
      font-size: 1rem;
    }

    .action-details {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      
      .action-color-dot {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        border: black 1px solid;
        border-radius: 5px;
      }

      .category{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 0.95;
      }

      .sum{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        
      }


    }
  }
}

.graph-block {
  display: flex;
  align-items: center;

  margin: 0.4rem 0;
  width: calc(99vw - 1rem);
  height: calc(100vh - 15rem);

  @include for-tablet {
    height: calc(100vh - 16.25rem);
    min-height: calc(100vh - 16.25rem);
  }

  @include for-desktop {
    width: 98%;
    gap: 2rem;
    min-height: calc(100vh - 11.75rem);
  }

  .graph{
    max-height: 100%;
  }

}

.actions-block {
  border-radius: 10px;
  background-color: $main-light-color;
  height: fit-content;

  @include for-tablet {
    min-width: unset;
    width: 100%;
  }

  .actions-month {
    background-color: #cfcfcf;
    padding: 0.5rem 1rem;
    &:first-child{
      border-radius: 10px 10px 0 0;
    }
  }
}

.swipe-btn {
  position: fixed;
  top: 50%;
  font-size: 2.5rem;
  color: $main-dark-color;
  margin: 0.5rem;

  transition: color 0.1s;
}

.no-data-title {
  text-align: center;
  padding: 1rem 0;
}