.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: $main-gray-color;
    z-index: 100;
    min-height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .modal-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
        height: 3rem;
        background-color: #9A9A9A;
        border-radius: 10px 10px 0 0;
        font-size: 1.5rem;  
        color: $txt-light-color;
        
        .exit-modal-btn{
            cursor: pointer;
        }
    }
    
    .modal-body{
        padding: 1.5rem;
        width: 100%;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .modal-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;
        }
    }

    button{
        background-color: $main-light-color;
        color: $txt-dark-color;
        &:hover, &:active{
            background-color: $main-light-color;
        }
    }

    .txt-input{
        background-color: $main-light-color;
        width: 100%;
    }
}

.search-modal{
    width: 95vw;
    height: 75vh;
    max-height: 27.5rem;
    
    @include for-tablet{
        width: 45rem;
        height: 27.5rem;
    }
    
    .modal-form{
        padding-bottom: 1.75rem;
    }
    
    .date-filters, .input-selectors{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        
        @include for-tablet{
            justify-content: space-between;
            width: 80%;
        }
    }

    .input-field{
        width: 8.5rem;

        @include for-tablet{
            width: 15rem
        }

        @include for-desktop{
            width: 15rem
        }
    }

}

.search-modal, .action-add-edit-modal{
    
    .form-buttons{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
}

.action-add-edit-modal{
    width: 95vw;
    height: 85vh;
    
    @include for-tablet{
        width: 25rem;
        height: 34rem;
    }

    .input-selectors{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        width: 100%;

        .input-select{
            &>*{
                width: 15rem;
            }
            
            button{
                height: 30px;
                font-size: 0.8rem;   
            }
        }
        
        .inner-group{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            
            .input-select{
                .MuiSelect-select{
                    height: 1rem;
                }

                &>*{
                    width: 7rem;
                }

                display: flex;
                flex-direction: column;
                gap: 0.75rem;
            }
        }
    }


    .amount-input{
        width: 50%;
    }

    .input-field{
        width: 15rem;
    }
}

.category-add-modal{
    width: 85vw;
    height: 60vh;
    max-height: 32rem;
    
    @include for-tablet{
        width: 20rem;
        height: 25rem;
    }
}

.label-add-modal{
    width: 85vw;
    height: 35vh;
    max-height: 17rem;
    
    @include for-tablet{
        width: 20rem;
        height: 15rem;
    }
}

.category-add-modal ,.label-add-modal {

    .modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        button{
            width: 8rem;
        }

        .icon-preview{
            font-size: 1.5rem;
            color: $txt-light-color;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.pick-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;

    width: 15rem;
    height: 15rem;
    background-color: $main-light-color;
    z-index: 150;
    padding: 0.75rem;
    overflow-y: scroll;
    
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 3rem);
    justify-items: center;
}

.colors-pick-modal{
    .color{
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid black;
    }
}

.icon-pick-modal{
    font-size: 2rem;
    &>*{
        cursor: pointer;
    }
}