.pagination-dots {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  
    @include for-tablet {
          display: none;
    }
  }
  
  .pagination-dot {
    color: rgba(29, 29, 29, 0.8);
    transition: 0.2s;
  }
  
  .fade-dot {
    color: rgba(83, 83, 83, 0.6);
  }