/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(160, 160, 160);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      90deg,
      rgba(186, 212, 216, 0.5) 0%,
      rgba(87, 94, 88, 0.5) 100%
    );
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(126, 146, 139, 0.835);
  }